# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.idea/
.DS_Store
.Python
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test
.coverage
.coverage.*
.cache
.pytest_cache/

# Reports
*.log
*.screenshots/
*screenshots/
*.reports/
/allure-report/
/failures/
/reports/

# Yaml files
*.yaml
